<section class="hero section-container" id="hero">
  <div class="container-main">
    <div class="hero-content">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="hero-accent">English</span> with us!
      </h1>
      <a href="#contact" class="btn btn-primary cta-btn"
        >Leave an application</a
      >
      <a href="#footer" class="scroll-down" aria-label="Scroll down">
        <svg class="scroll-icon">
          <use href="./img/icons.svg#icon-arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
