<section class="proposal-section">
  <div class="container-main proposal-container">
    <h2 class="visually-hidden">Proposal to leave an application</h2>

    <h2 class="proposal-title">
      Master the <span class="title-highlight">Language</span> with Our English
      Package!
    </h2>
    <div class="proposal-wraper">
      <div class="background-cards">
        <div class="bg-card card-3"></div>
        <div class="bg-card card-2"></div>
        <div class="bg-card card-1"></div>
      </div>
      <div class="proposal-list-container">
        <h2 class="proposal-list-header">Power of English</h2>
        <ul class="proposal-list">
          <li class="proposal-list-item">
            <div>
              <svg class="proposal-icon" aria-label="check icon">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
            </div>
            <p class="proposal-list-text text-1">
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </p>
          </li>
          <li class="proposal-list-item">
            <div>
              <svg class="proposal-icon" aria-label="check icon">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
            </div>
            <p class="proposal-list-text text-2">
              Learn in a nurturing setting where every student's progress
              matters.
            </p>
          </li>
          <li class="proposal-list-item">
            <div>
              <svg class="proposal-icon" aria-label="check icon">
                <use href="./img/icons.svg#icon-check"></use>
              </svg>
            </div>
            <p class="proposal-list-text text-3">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </p>
          </li>
        </ul>
        <a
          href="#leave-section"
          class="btn btn-primary proposal-button"
          aria-label="leave an application section"
          >Leave an application</a
        >
      </div>
      <div class="proposal-image-content">
        <img
          srcset="./img/books-1x.png 1x, ./img/books-2x.png 2x"
          src="./img/books-1x.png"
          alt="Stack of books"
          width="214"
          height="263"
        />
      </div>
    </div>
  </div>
</section>