<section class="reviews-section container-main" id="reviews">
  <div class="section-container reviews-container">
    <h2 class="reviews-header header-section">
      What our <span class="header-accent">students</span> say
    </h2>
    <p class="reviews-text section-text">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <div class="reviews-list-item-heading">
          <img
            class="reviews-list-item-image"
            src="./img/student-1.png"
            srcset="./img/student-1.png 1x, ./img/student-1-2x.png 2x"
            alt="Anna"
          />
          <div class="reviews-list-item-roles">
            <h4 class="reviews-list-item-name">Anna</h4>
            <p class="reviews-list-item-role">Student</p>
          </div>
        </div>
        <p class="reviews-list-item-description">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>
      <li class="reviews-list-item sm-block-hide">
        <div class="reviews-list-item-heading">
          <img
            class="reviews-list-item-image"
            src="./img/student-2.png"
            srcset="./img/student-2.png 1x, ./img/student-2-2x.png 2x"
            alt="Mykhailo"
          />
          <div class="reviews-list-item-roles">
            <h4 class="reviews-list-item-name">Mykhailo</h4>
            <p class="reviews-list-item-role">Student</p>
          </div>
        </div>
        <p class="reviews-list-item-description">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>
      <li class="reviews-list-item md-block-hide">
        <div class="reviews-list-item-heading">
          <img
            class="reviews-list-item-image"
            src="./img/student-3.png"
            srcset="./img/student-3.png 1x, ./img/student-3-2x.png 2x"
            alt="Victoria"
          />
          <div class="reviews-list-item-roles">
            <h4 class="reviews-list-item-name">Victoria</h4>
            <p class="reviews-list-item-role">Student</p>
          </div>
        </div>
        <p class="reviews-list-item-description">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
