<section class="teachers-section" id="teachers">
  <div class="container-main container-teachers">
    <div class="teachers-heading header-section">
      <h2 class="teachers-header">
        Meet our <span class="header-accent">teachers</span>
      </h2>
      <p class="teachers-text section-text">
        Discover our team of dedicated educators, committed to guiding you on
        your journey to English proficiency with personalized and engaging
        instruction
      </p>
    </div>
    <ul class="teachers-list">
      <li class="teachers-list-item">
        <img
          class="teachers-item-image"
          srcset="./img/teacher-1.jpg 1x, ./img/teacher-1-2x.jpg 2x"
          src="./img/teacher-1.jpg"
          width="150"
          height="150"
          alt="Maria"
        />
        <h4 class="teachers-item-name">Maria</h4>
        <p class="teachers-item-text">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="teachers-list-item">
        <img
          class="teachers-item-image"
          srcset="./img/teacher-2.jpg 1x, ./img/teacher-2-2x.jpg 2x"
          src="./img/teacher-2.jpg"
          width="150"
          height="150"
          alt="Artem"
        />
        <h4 class="teachers-item-name">Artem</h4>
        <p class="teachers-item-text">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="teachers-list-item">
        <img
          class="teachers-item-image"
          srcset="./img/teacher-3.jpg 1x, ./img/teacher-3-2x.jpg 2x"
          src="./img/teacher-3.jpg"
          width="150"
          height="150"
          alt="Ilona"
        />
        <h4 class="teachers-item-name">Ilona</h4>
        <p class="teachers-item-text">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="teachers-list-item">
        <img
          class="teachers-item-image"
          srcset="./img/teacher-4.jpg 1x, ./img/teacher-4-2x.jpg 2x"
          src="./img/teacher-4.jpg"
          width="150"
          height="150"
          alt="Volodymyr"
        />
        <h4 class="teachers-item-name">Volodymyr</h4>
        <p class="teachers-item-text">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
