<section class="container-main" id="lessons">
  <div class="lessons-container section-container">
    <div class="lessons-desc">
      <h2 class="lessons-header header-section">
        Our <span class="header-accent">Lessons</span>
      </h2>
      <p class="section-text">
        Our lessons are carefully structured and interactive, designed to
        promote rapid language acquisition through practical tasks and
        real-world scenarios
      </p>
    </div>
    <div class="lessons-cards-container">
      <ul class="lessons-cards-list">
        <li class="lessons-cards-list-item">
          <p class="lessons-card-header">Practice</p>
          <p class="lesson-card-price">40$ / month</p>
          <p class="lesson-card-description">
            This plan offers an opportunity for learners to engage in
            collaborative language exercises and group activities, boosting
            their conversational skills and confidence in using English.
          </p>
          <a href="#contact" class="btn btn-primary">Leave an application</a>
        </li>
        <li class="lessons-cards-list-item">
          <p class="lessons-card-header">Standart</p>
          <p class="lesson-card-price">70$ / month</p>
          <p class="lesson-card-description">
            Our standard package provides a balanced learning approach that
            covers all key areas of English language - reading, writing,
            listening, and speaking. It is a set of basic knowledge and skills.
          </p>
          <a href="#contact" class="btn btn-secondary">Leave an application</a>
        </li>
        <li class="lessons-cards-list-item">
          <p class="lessons-card-header">Individual</p>
          <p class="lesson-card-price">99$ / month</p>
          <p class="lesson-card-description">
            We offer a tailored learning experience with individualized
            instruction that focuses on a learner's specific language goals and
            challenges, offering personal feedback.
          </p>
          <a href="#contact" class="btn btn-primary lessons-card-btn"
            >Leave an application</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
