<section class="container-main">
  <div class="about-container section-container">
    <div class="about-descr">
      <h2 class="about-header header-section">
        About <span class="header-accent">Us</span>
      </h2>
      <p class="about-text section-text">
        We are dedicated to providing engaging and effective English language
        courses in a supportive and stimulating learning environment
      </p>
    </div>
    <div class="about-content">
      <ol class="about-grid">
        <li class="about-grid-item">
          <p class="about-grid-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about-grid-item">
          <p class="about-grid-text">Wide range of course levels and options</p>
        </li>
        <li class="about-grid-item">
          <p class="about-grid-text">Multicultural learning environment</p>
        </li>
        <li class="about-grid-item">
          <p class="about-grid-text">Comprehensive language support services</p>
        </li>
      </ol>
      <div class="about-memoji-container">
        <img
          src="./img/memoji-about-1x.png"
          srcset="./img/memoji-about-1x.png 1x, ./img/memoji-about-2x.png 2x"
          alt="Smiling Emoji"
          class="about-memoji"
        />
      </div>
    </div>
  </div>
</section>
