<section class="reviews-section" id="reviews">
  <div class="container">
    <h1 class="reviews-header">What our students say</h1>
    <p class="reviews-text">Hear from our students about their learning journey with us, as they share their experiences, progress, and the transformative impact </p>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <div class="reviews-list-item-heading">
          <img class="reviews-list-item-image" src="" alt=""/>
          <div class="reviews-list-item-roles">
            <h4 class="reviews-list-item-name">Anna</h4>
            <p class="reviews-list-item-role">Student</p>
          </div>
        </div>
        <p class="reviews-list-item-description">
          My experience at the language school has been nothing short of amazing. The teachers are dedicated and the learning environment is stimulating. I feel more confident in my English skills.
        </p>
      </li>
      <li class="reviews-list-item">
        <div class="reviews-list-item-heading">
          <img class="reviews-list-item-image" src="" alt=""/>
          <div class="reviews-list-item-roles">
            <h4 class="reviews-list-item-name">Mykhailo</h4>
            <p class="reviews-list-item-role">Student</p>
          </div>
        </div>
        <p class="reviews-list-item-description">
          The school offers a great balance of language theory and practical exercises. The personalized feedback from the teachers has helped me improve my weak areas.
        </p>
      </li>
      <li class="reviews-list-item">
        <div class="reviews-list-item-heading">
          <img class="reviews-list-item-image" src="" alt=""/>
          <div class="reviews-list-item-roles">
            <h4 class="reviews-list-item-name">Victoria</h4>
            <p class="reviews-list-item-role">Student</p>
          </div>
        </div>
        <p class="reviews-list-item-description">
          I love the dynamic and interactive teaching methods used here. It's a great place to learn English in a fun and effective way. I have definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>