.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.about-descr {
  text-align: center;
}

.about-text {
  max-width: 658px;
}

.about-grid {
  color: var(--green-main);
  list-style: none;
  counter-reset: list-item;
}

.about-grid-item {
  counter-increment: list-item;
}

.about-grid-item::before {
  content: '0' counter(list-item);
  /* position: absolute; */
  /* left: 25px; /* Позиціонуємо маркер */
  /* top: 25px; */
  /* font-size: 28px; */
  /* font-weight: bold; */
  color: #4caf50; /* Колір, як на зображенні */
}

.about-grid-text {
  color: var(--black);
}
