* {
  box-sizing: border-box;
}

body {
  font-family: var(--basic-font);
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 26px;
  letter-spacing: 1.125px;
  color: var(--black);
  text-align: center;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 1.2px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-main {
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 64px;
  }
}

/*btns*/

.btn {
  display: inline-flex;
  background-color: var(--green-main);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.btn-primary {
  background-color: var(--green-main);
  color: var(--white);
  transition: background-color 0.3s ease-in-out;
}

.btn-secondary {
  background-color: transparent;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--green-pressed);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--white);
  color: var(--green-main);
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 18px;
    line-height: 28px;
  }
}

.header-section {
  display: inline-block;
}

.header-accent {
  position: relative;
}

.header-accent::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 12px;
  border-radius: 8px;
  background-color: #bee8cc;

  z-index: -1;
}

@media screen and (min-width: 768px) {
  .header-accent::after {
    height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .header-accent::after {
    height: 20px;
  }
}
