:root {
  --primary-green: #4dc274;
  --light-green-1: #bee8cc;
  --light-green-2: #d4fde1;
  --dark-text: #121417;
  --light-text: #ffffff;
  --grey-text: rgba(18, 20, 23, 0.5);
  --grey-text-light: rgba(255, 255, 255, 0.6);
  --background-light: #ffffff;
  --background-dark: #121417;
  --background-grey: #f3f5f6;
  --border-light: rgba(18, 20, 23, 0.1);
  --border-dark: rgba(255, 255, 255, 0.1);
  --basic-font: 'Manrope', sans-serif;
}

body {
  font-family: var(--basic-font);
  background-color: var(--background-light);
  color: var(--dark-text);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
