.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-footer {
  background-color: var(--black);
  color: var(--white);
  padding-top: 64px;
  padding-bottom: 32px;
}

.site-footer .logo {
  margin-bottom: 32px;
  display: block;
}

.site-footer .logo:hover {
  transform: scale(1.1);
  transition: var(--transition-func);
}

.contact-info {
  margin-bottom: 16px;
}

.info-label {
  font-size: 14px;
  color: var(--grey-text-light);
  margin-bottom: 4px;
}

.info-value {
  font-size: 14px;
  font-weight: 600;
}

.footer-nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-nav a {
  font-size: 14px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: var(--green-main);
}

.footer-col-social .social-links {
  display: flex;
  gap: 12px;
}

.footer-col-social .social-links a {
  border-color: var(--grey-border-light);
}

.footer-col-social .social-links a:hover {
  border-color: var(--green-main);
  transition: var(--transition-func);
}

.footer-col-social .social-links .footer-socials-icon {
  fill: var(--white);
}

.social-links a:hover .footer-socials-icon,
.social-links a:focus .footer-socials-icon {
  fill: var(--green-main);
  transition: fill var(--transition-func);
}

.legal-links {
  display: flex;
  gap: 18px;
}

.legal-links a:hover {
  text-decoration: underline;
}

.footer-divider {
  border: none;
  height: 1px;
  background-color: var(--grey-border-light);
  margin: 0;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.footer-col-info {
  flex-basis: 250px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 24px;
  font-size: 14px;
  color: var(--grey-text-light);
}

@media (max-width: 768px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-col-nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
  }
}
