.site-header {
  padding: 20px 0;
  width: 100%;
}

.header-content {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.logo-green {
  color: var(--green-main);
}

.main-nav ul {
  display: flex;
  gap: 20px;
}

.main-nav a {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: var(--green-main);
}

.social-links {
  display: flex;
  gap: 12px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 1px solid var(--grey-border);
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

.header-socials-icon,
.footer-socials-icon {
  width: 28px;
  height: 28px;
}

.social-links a:hover {
  border-color: var(--green-main);
  transition: var(--transition-func);
}

.social-links a:hover .header-socials-icon,
.social-links a:focus .header-socials-icon {
  fill: var(--green-main);
  transition: fill var(--transition-func);
}

.site-header .container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1024px) {
  .main-nav {
    display: none;
  }

  .site-header .container {
    justify-content: space-between;
    padding: 0 20px;
  }
}

.site-header .logo:hover {
  transform: scale(1.1);
  transition: var(--transition-func);
}
